html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    color: #424242;
    background-color: #FAFAFA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Pemament fix for overflowing elements */
#root {
    overflow-x: hidden; 
}

/* Main Styled Elements */

code {
    background-color: #ECEFF1;
    padding: 1em;
    margin: 1em;
    display: block;
    border-radius: 4px;
    word-wrap: break-word;
}

code .tag {
    color: #9E9E9E;
}

code .element {
    color: #2196F3;
}

code .attribute {
    color: #f44336;
}

/* Common styles */

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}